@use 'mixins';
@use 'fonts';

.counter {
    background-color: var(--color-primary-3);

    &__blocks{
        padding: 151px 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__block{
        border-right: 1px solid #CDA274;
        text-align: center;
        &:nth-child(4){
            border-right: none;
        }
    }
    &__number{
        @include mixins.DM-Regular-85;
        color: var(--color-primary-1);
    }
    &__text{
        @include mixins.Jost-Regular-22;
        color: var(--color-primary-5);
    }
}
