@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM';
    src: url('../fonts/DMSerifDisplay.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}