@use 'mixins';
@use 'fonts';

.footer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 118px;

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include mixins.DM-Regular-25;
        color: var(--color-primary-5);

    }

    &__text {
        margin-top: 25px;

        @include mixins.Jost-Regular-22;
        color: var(--color-primary-5);
    }

    &__socials {
        margin-top: 31px;
        display: flex;
        gap: 64px;
    }
}