@use '../mixins';
@use '../header';
@use '../banner';
@use '../project';

@use '../fonts';

:root {
    --color-primary-1: #CDA274;
    --color-primary-2: #292F36;
    --color-primary-3: #F4F0EC;
    --color-primary-4: #fff;
    --color-primary-5:#4D5053;

    --container-width: 1140px;
    --container-gap: 30px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: calc(var(--container-width) + var(--container-gap) + var(--container-gap));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}