@mixin DM-Regular-250{
    font-family: "DM", sans-serif;
    font-size: 250px;
    font-weight: 400;
    line-height: 125%;
}

@mixin DM-Regular-85{
    font-family: "DM", sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 125%;
}

@mixin DM-Regular-65{
    font-family: "DM", sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 125%;
}

@mixin DM-Regular-50{
    font-family: "DM", sans-serif;
    font-size: 50px;
    line-height: 125%;
}
@mixin DM-Regular-35{
    font-family: "DM", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 150%;
}
@mixin DM-Regular-25{
    font-family: "DM", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
}
@mixin DM-Regular-20{
    font-family: "DM", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

@mixin Jost-Regular-22{
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

@mixin Jost-Regular-20{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

@mixin Jost-Regular-18{
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
@mixin Jost-Regular-16{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

@mixin Jost-Bold-16{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;
}